# Task 1.1

In [10]:
import numpy as np

def mov_avg(a,k):
    ret = np.cumsum(a,dtype=float)
    ret[k:] = ret[k:] - ret[:-k]
    return ret[k - 1:] / k

array = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]

mov_avg(array,3)

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

# Task 2.1

In [11]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

df['Y'] =(df.X.groupby(df.X.eq(0).cumsum().mask(df.X.eq(0))).cumcount() + 1).mask(df.X.eq(0), 0)

df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

# Task 2.2

In [17]:
import numpy as np
import pandas as pd
dti= pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.567858
2015-01-02    0.099688
2015-01-05    0.876435
2015-01-06    0.768402
2015-01-07    0.896722
2015-01-08    0.734754
2015-01-09    0.687814
2015-01-12    0.145620
2015-01-13    0.759515
2015-01-14    0.524827
2015-01-15    0.748541
2015-01-16    0.781669
2015-01-19    0.948735
2015-01-20    0.808102
2015-01-21    0.193069
2015-01-22    0.565934
2015-01-23    0.899983
2015-01-26    0.176407
2015-01-27    0.119966
2015-01-28    0.362143
2015-01-29    0.754533
2015-01-30    0.943803
2015-02-02    0.358260
2015-02-03    0.049727
2015-02-04    0.539738
2015-02-05    0.390344
2015-02-06    0.181978
2015-02-09    0.848984
2015-02-10    0.096623
2015-02-11    0.898719
                ...
2015-11-20    0.591165
2015-11-23    0.232781
2015-11-24    0.526388
2015-11-25    0.023391
2015-11-26    0.285927
2015-11-27    0.652766
2015-11-30    0.357868
2015-12-01    0.658366
2015-12-02    0.796615
2015-12-03    0.767536
2015-12-04    0.151503
2015-12-07    0.342908
2015-12-08    0.359253
2015-12-09    0.678607
2015-12-10    0.304121
2015-12-11    0.492597
2015-12-14    0.346674
2015-12-15    0.967284
2015-12-16    0.701725
2015-12-17    0.057088
2015-12-18    0.884467
2015-12-21    0.518429
2015-12-22    0.297609
2015-12-23    0.198587
2015-12-24    0.010464
2015-12-25    0.318864
2015-12-28    0.831404
2015-12-29    0.525439
2015-12-30    0.113339
2015-12-31    0.004646
Freq: B, Length: 261, dtype: float64

# Task 2.3

In [18]:
s[dti.weekday == 2].sum()

22.466651460435223

# Task 2.4

In [21]:
s.resample('M').mean()

2015-01-31    0.607478
2015-02-28    0.459681
2015-03-31    0.375546
2015-04-30    0.564668
2015-05-31    0.507139
2015-06-30    0.604304
2015-07-31    0.486870
2015-08-31    0.477368
2015-09-30    0.503799
2015-10-31    0.467312
2015-11-30    0.550906
2015-12-31    0.449023
Freq: M, dtype: float64

# Task 2.5

In [20]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-19
2015-05-31   2015-04-21
2015-09-30   2015-06-01
2016-01-31   2015-10-16
dtype: datetime64[ns]